<!DOCTYPE html>
<html>

  {% include head.html %}

    <body class="{% if page.layout %}layout-{{ page.layout }}{% else %}layout-default{% endif %}{% if page.url == '/' %} is-home{% endif %}">

    {% include header.html %}

    <main class="page-content" id="main">
      <div class="wrap main-content">
      {{ content }}
      </div>
    </main>

    {% include footer.html %}
    
    <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/headroom.js"></script>
    <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/main.js"></script>

    </body>
</html>
